{% load static %}
<!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
                <a class="navbar-brand" href={% url 'trangChu' %}>
                    <img src={% static 'images/logo.png' %} width="160px" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4 fs-5 me-2 fw-bold">
                        <li class="nav-item"><a class="nav-link active {% if request.resolver_match.url_name == 'trangChu' %} text-success {% endif%}" aria-current="page" href={% url 'trangChu' %}>Trang chủ</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'danhMuc' %} text-success {% endif%}" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Danh mục</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href={% url 'danhMuc' %}>Tất cả danh mục</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                {% for item in categories %}
                                    <li><a class="dropdown-item" href="{% url 'sanPhamTheoDanhMuc' item.slug %}">{{ item.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'tinTuc' %} text-success {% endif%}" href={% url 'tinTuc' %}>Tin tức</a></li>
                        <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'lienHe' %} text-success {% endif%}" href={% url 'lienHe' %}>Liên hệ</a></li>
                    </ul>
                    <form class="d-flex me-2 ui-widget" action="{% url 'timKiemSanPham'%}" method="POST">
                        {% csrf_token %}
                        <input id="tags" name="searchProductValue" class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Tìm</button>
                    </form>
                    <div class="d-flex align-items-center">
                        {% if request.user.is_authenticated %}
                            <div class="d-flex">
                                <a href="{% url 'gioHang' %}" class="btn btn-outline-success me-2">
                                    <i class="bi-cart-fill me-1"></i>
                                        Giỏ hàng
                                    <span class="badge bg-success text-white ms-1 rounded-pill">{{cartLength}}</span>
                                </a>
                            </div>
                            <div class="d-flex">
                                <a href="{% url 'yeuThich' %}" class="btn btn-outline-warning me-2">
                                    <i class="bi-bi-heart-fill me-1"></i>
                                        Yêu thích
                                    <span class="badge bg-warning text-white ms-1 rounded-pill">{{wishListLength}}</span>
                                </a>
                            </div>
                            <a href="{% url 'dangXuat' %}" class="btn btn-danger me-2">
                                <i class="bi bi-box-arrow-left"></i>
                                Đăng xuất
                            </a>
                        {% else %}
                            <a href="{% url 'dangNhap' %}" class="btn btn-primary me-2">
                                <i class="bi bi-box-arrow-in-right"></i>
                                Đăng nhập
                            </a>
                            <a href="{% url 'dangKy' %}" class="btn btn-warning text-white me-2">
                                <i class="bi bi-person-plus-fill"></i>
                                Đăng ký
                            </a>
                        {% endif %}
                    </div>
                </div>
        </div>
    </nav>